DB_DATABASE=silence
DB_ROOT_PASSWORD=change-me-root
DB_LARAVEL_USER=backend
DB_LARAVEL_PASSWORD=change-me-laravel

APP_ENV=production
APP_DEBUG=false
APP_URL=https://silence.th-rosenheim.de
ASSET_URL=https://silence.th-rosenheim.de
DB_HOST=database
DB_USERNAME=backend
DB_PASSWORD=change-me-laravel
SHIB_SIMULATE=false
